// $common-color: green;
*{
    box-sizing: border-box;
}
p{
    margin: 0;
    padding: 0;
}
ul,ul li{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
.cl_conDrow{
    overflow: hidden;
    text-overflow: ellipsis;
}